# Importing Libraries

In [3]:
# Importing libraries (pandas, numpy, os)
import pandas as pd
import numpy as np
import os

# Importing Datasets

In [4]:
# Folder path: 
path = r'/Users/shailioza/Documents/CareerFoundry Projects/Instacart Basket Analysis'

In [5]:
# Import orders_products_combined.pkl
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [6]:
# Import products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
# 4.Check the shape of the imported dataframe
df_orders_products_combined.shape

(32434489, 11)

In [8]:
df_prods.shape

(49672, 6)

In [9]:
# Check output for df_orders_products_combined
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [10]:
# Check output for df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
# Drop unnamed column for df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [17]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
# Drop '_merge' column for df_orders_products_combined
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

# Merge both datasets

In [18]:
# Step 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set
df_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [19]:
# Check output for df_merged
df_merged.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

# Confirming the results

In [20]:
# 6.Confirm the results of the merge using the merge flag:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
# Check df_merged size
df_merged.shape

(32404859, 15)

# Export dataframe

In [22]:
# 7Export the newly created dataframe 
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))